<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
    <% if (typeOfDay === "Saturday" || typeOfDay === "Sunday") { %>
        <h1 style="color: darkgreen">It's <%= typeOfDay %> To Do List</h1>
   <%  } else { %>
        <h1 style="color: dodgerblue">It's <%= typeOfDay %> To Do List</h1>
        <% } %>
</body>
</html>